<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body {
            height: 100%;
        }

        .help-block {
            color: #494949;
            font-size: 13px;
            padding-left: 0;
        }

        .control-label {
            padding-left: 0;
        }

        .row {
            height: 100vh;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h1 class="text-center"><span class="fa fa-sign-in"></span> Login</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <form action="/login" method="post">
                    <div class="form-group form-inline">
                        <label class="text-justify col-md-3 control-label" for="email">Email:</label>
                        <input id="email" name="email" placeholder="address@example.com" class="form-control input-md col-md-9" required="" type="text">
                    </div>
                    <div class="form-group form-inline">
                        <label class="text-justify col-md-3 control-label" for="password">Password:</label>
                        <input id="password" name="password" placeholder="" class="form-control input-md col-md-9" required="" type="password">
                        <span class="col-md-9 offset-md-3 help-block">Make sure your password is private and unique.</span>

                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                </form>

                <hr>

                <p>Need an account? <a href="/signup">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>
